* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: #fb3e45;
}

.jumbotron {
  padding: 16rem 0 0rem;
  background-image: url(../img/cireng2.png);
  background-size: cover;
  background-position: center;
}

#about,
#product,
#reviews,
#contact {
  padding-top: 6rem;
}

.clearfix {
  text-align: justify;
  font-size: 24px;
}

.person {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 50px;
}
.person img {
  width: 100%;
}
.carousel-indicators {
  position: relative;
}
.carousel-indicators [data-bs-target] {
  width: 60px;
  height: 10px;
  background-color: #6f6b80;
}

footer {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  background-color: #fb3e45;
  color: white;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-header p {
    width: 85%;
  }
  .content p {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .review {
    padding: 30px 0;
  }
  .section-header p {
    width: 95%;
  }
  .content p {
    width: 100%;
  }
  .icon-area i {
    font-size: 50px;
  }
}
